body {
    background-image: url("https://raster-static.postmates.com/?url=com.postmates.img.prod.s3.amazonaws.com/c39de0b7-ddd6-416d-b8b9-c9cb1f7d9618/orig.jpg&quality=90&w=1500&h=900&mode=crop&format=jpg&v=4");
    background-size: cover;
    background-position: fixed;
    text-align: center;
    margin: 0 auto;
    font-family: 'Modak', cursive;
}

#container {
    background-color: rgba(30, 30, 30, .8);
    margin: 0 auto;
    width: 60%;
    padding: 5%;
    padding-top: 0;
}

h1 {
    font-size: 10vw;
    color: yellow;
    margin-bottom: 0;
}

h2 {
    font-size: 2vw;
    color: lightgreen;
    font-family: 'Sigmar One', cursive;
}

li {
    margin-bottom: 1%;
    color: royalblue;
    font-family: 'Sigmar One', cursive;
    font-size: 1.5vw;


}


button {
    font-family: 'Anton', sans-serif;
}

.btn:hover {
    cursor: wait
}

#ca {
    width: 50%;
}

.input-group-text {
    box-sizing: border-box;
    height: auto;
    text-align: center;
}

.form-group {
    text-align: center;
    box-sizing: unset;
    color: royalblue;
    font-family: 'Sigmar One', cursive;
    font-size: 1.5vw;



}

.form-control {
    height: auto;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%
}